.findme-icon{
    font-size: 5vw;
    margin-right: 3vw;
}

.findme-container p{
    user-select: text;
}

@media only screen and (max-width: 900px){
    .findme-icon{
        font-size: 10vw;
        margin-right: 5vw;
    }
    .findme-container{
        padding: 0 5vw;
    }
}